<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css"> <!-- import css -->
	<title> Welcome! Type in your username and password to login, or continue to create an account!</title>


  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<!DOCTYPE HTML>
<html>
<body>
	<div id="login">
		<input type="text" id="username" placeholder="Username..." required>
		<input type="password" id="pass" placeholder="Password..." required>
		<input type="submit" id="logg" value="Login">
	</div>
	</br>
	go to   --  localhost:5000/village   --  for the village page//for now the options page doesn't exist but check out what's there so far//erd and routes have also been updated
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="public/js/login.js"></script>
	</br>

	<button class="createQuiz">
		Make an Acount!
	</button>


</body>
</html>