<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css"> <!-- import css -->
	<title> Options Page </title>


  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<!DOCTYPE HTML>
<html>
<body>
	<div id= "hold"> <!-- id of page to dynamically load questions and answers into -->
		<center>
				<div id="StartPage">
				<h1>Welcome to the Options Page!</h1>
				Username:
				<input type="text" id="refresh"> <!-- username input -->
				<br/>
				<br/>
				<!--<input type="button" id="start" value="Submit">  submit username -->

				</center>
				<div class="dropdown">
				<br/>
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Weather
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							    <li><a href="#">Sunny</a></li>
      							<li><a href="#">Cloudy</a></li>
     						 	<li><a href="#">Rain</a></li>
     						 	<li><a href="#">Snowy</a></li>
						</ul>
					</div>

				<div class="dropdown">
				<br/>
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Terrain
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							 	<li><a href="#">Rocky</a></li>
      							<li><a href="#">Sandy</a></li>
     						 	<li><a href="#">Trees</a></li>
     						 	<li><a href="#">Mountains</a></li>
						</ul>
					</div>

				<div class="dropdown">
				<br/>
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Animals
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							 	<li><a href="#">Wolf</a></li>
     						 	<li><a href="#">Cat</a></li>
						</ul>
					</div>

				<div class="dropdown">
				<br/>
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Professions
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="#">Workers</a></li>
     						<li><a href="#">Children</a></li>
						</ul>
				</div>
	</div>


</body>
</html>

