<html>
<HEAD>
	<title>The Village</title>
	<link rel="stylesheet" type="text/css" href="../public/css/village.css">
	<script>var userID = <%= ID  %></script>
</HEAD>

<body>
	<div id="sidebar">
		<div id="sideGeneral">
			<h3>General Information</h3>
			<div id="sideGeneralInfo">
				<ul id="sideGeneralInfoList">
					<li>Weather</li>
					<ul>	
						<li id= "weather_type">Atmosphere:</li>
						<li id= "temperature">Temperature: 75</li>
					</ul>
					<li>Population</li>
					<ul>	
						<li id= "peepCount"></li>
						<li id= "catCount"></li>
					</ul>
				</ul>
			</div>
		</div>
		<div id="line"></div>
		<div id="sideTarget">
			<h3 id="targetTitle">Target</h3>
			<div id="sideTargetInfo">
				<ul id="sideTargetInfoList">
					<li id= "side_name">Name:</li>
					<li id= "side_person_type">Occupation:</li>
					<li id= "side_hunger">Hunger:</li>
					<li id= "side_happiness">Happiness:</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="drawHere">
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="../public/p5-release/p5.min.js"></script>
	<script src="../public/js/village.js"></script>
</body>
</html>